@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  color-scheme: light;

  --bg-0: #f6f4fb;
  --bg-1: #fdf8ff;

  --card: rgba(255,255,255,.85);
  --card-border: rgba(148,163,184,.35);

  --txt: #1f2937;
  --muted: rgba(71,85,105,.70);

  /* Paleta “jovem” (referência das imagens) */
  --c-purple: #7C3AED;
  --c-orange: #F59E0B;
  --c-green:  #10B981;
  --c-red:    #EF4444;
  --c-pink:   #EC4899;
  --c-blue:   #3B82F6;
}

html, body {
  height: 100%;
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Arial;
}

body{
  margin:0;
  overflow:hidden; /* scroll fica no container interno */
  background-color: var(--bg-0);
  background-image:
    linear-gradient(0deg, rgba(148,163,184,.18) 1px, transparent 1px),
    linear-gradient(90deg, rgba(148,163,184,.18) 1px, transparent 1px);
  background-size: 28px 28px;
  color: var(--txt);
}
